//Variaveis 
    //Cores
    $roxo-principal: #0C0421;
    $roxo-secundario: #4E75FF;
    $roxo-terciario: #85A0FF;
    $padrao: #CAD4FA;
    $branco: #FFFFFF;
    $verde-primario: #E8F5C8;
    $gradiante: linear-gradient(180deg, #E8F5C8 0%,#FFFFFF 96.87%);
    $gradiante-secundario: linear-gradient(180deg, rgba(255, 255, 255, 0.7) 0%, rgba(202, 212, 250, 0.3) 70%);
//Fontes
    $fonte-textos: 'Montserrat', sans-serif;
    $fonte-titulos: 'Krona One', sans-serif;